<% @page_title = "Clerk show" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class =>'back-link') %>
<div class ="clerk show">
	<h2>Show Clerk</h2>
	
	<table summary="Clerk detail view">
		<tr>
			<th>Clerk ID</th>
			<td><%= @clerk.id %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= @clerk.name %></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><%= @clerk.username %></td>
		</tr>
		<tr>
			<th>Mobile</th>
			<td><%= @clerk.mob %></td>
		</tr>
		<tr>
			<th>e-mail</th>
			<td><%= @clerk.email %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @clerk.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @clerk.updated_at %></td>
		</tr>
	</table>
</div>