
<table summary="clerk form fields">
	 	<tr>
	 		<th><%= f.label(:name) %></th>
	 		<td><%= f.text_field(:name) %></td>
	 	</tr>
		<tr>
	 		<th><%= f.label(:username) %></th>
	 		<td><%= f.text_field(:username) %></td>
	 	</tr>
	 	<tr>
	 		<th><%= f.label(:mob) %></th>
	 		<td><%= f.text_field(:mob)%></td>
	 	</tr>
	 	<tr>
	 		<th><%= f.label(:email) %></th>
	 		<td><%= f.text_field(:email) %></td>
	 	</tr>
	<tr>
		<td>Username</td>
		<td><%= f.text_field(:username) %></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><%= f.password_field(:password) %></td>
	</tr>
	 	
    </table>