<% @page_title = "Subject list" %>

<div class ="subject list">
  <h2> Subjects </h2>

	<%= link_to("<< Add new Subject", {:action => 'new'}, :class =>'action new') %>
				<%= link_to "Home", :controller => :Clerks, :action => :list%>    
	            <%= link_to "Class", :controller => :Sclasses, :action => :list%>    
				<%= link_to "Student", :controller => :Students, :action => :list%> 		
	     		<%= link_to "Teacher", :controller => :Teachers, :action => :list%>  
    <table class"listing" summary="Subject list">
           <tr class ="header">
           	<th>Subject ID</th>
        	<th>Subject Name</th>
        	<th>Year</th>
        	
	  		      
	  <% @subjects.each do |subject| %>
	  <tr>
		<td><%= subject.id %></td>
		<td><%= subject.sub_name %></td>
		<td><%= subject.year %></td>
		
		
		<td class="action">
			<%= link_to("show",{:action => 'show', :id =>subject.id}, :class =>'action show')%>
			<%= link_to("Edit",{:action => 'edit', :id =>subject.id}, :class =>'action edit')%>
			<%= link_to("Delete",{:action => 'delete', :id =>subject.id}, :class =>'action delete')%>
			<%= link_to("View Lessons",{:controller =>'lesson', :action => 'list', :subject_id =>subject.id }, :class =>'action show')%>
		</td>
	</tr>
	<% end %>
    	</table>
			</div>